* {
    margin: 0;          /* by default React JS gives a 10px margin */
  }

  .App {
    text-align: center;
    background: url('./components/image1.jpg');
    background-size: cover;
    font-family: "Montserrat", sans-;
    background-repeat: no repeat;
    background-attachment: fixed;
    text-align: center;
}

.app-heading {
    font-size: 60px;
}

.subheading {
    text-align: left;
    font-size: 30px;
}